<div class="navbar navbar-inverse">
<% if user_signed_in? %>
<h1 id="heading">Welcome to Blog App &nbsp &nbsp <span style="font-size:20px"><%= current_user.email %></span> </h1>
<% else %>
  <h1 id="heading">Welcome to Blog App </span> </h1>
  <% end %>
<% if !user_signed_in? %>

<a href="/users/sign_in" class="btn btn-default btn-lg" style="float:right;margin-top:15px;margin-left:10px;">Login</a>
<a href="/users/sign_up" class="btn btn-primary btn-lg" style="float:right;margin-top:15px;">SignUp</a>
<% end %>
<% if user_signed_in? %>
  <button class="btn btn-default" style="float:left;margin-top:20px;margin-left:50px"><a href="/myposts/<%= current_user.id %>">MY POSTS </a></button>
  <button  class="btn btn-default" style="float:right;margin-top:15px;margin-right:40px;"><%= link_to('Logout',destroy_user_session_path,:method => :delete) %></button>
  <button  class="btn btn-default" style="float:right;margin-top:15px;margin-right:40px"><%= link_to('New Posts',new_post_path) %></button>
<% end %>
</div>
<div style="clear:both"></div>



<% if user_signed_in? && current_user.utype == "admin" %>
  <table cellspacing="5px" style="width:100%;background-color:black;" align="center">
  <thead>
  <tr>
    <th>Title</th>
    <th>Created At</th>
    <th style="text-align:right" >Created By</th>
    <th style="text-align:center;">Published ?</th>
    <th style="text-align:center">Edit</th>
    <th style="text-align:center">Show</th>
    <th style="text-align:center">Destroy</th>
      
     </tr>
     </thead>
   </table>
<table style="width:100%" id="t01">
<% @post.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td ><%= time_ago_in_words(p.updated_at) %></td>
      <td > <%= p.user.name %></td>
      <% if p.published == true %>
       <td >Published</td>
       <% else %>
       <td >Unpublished</td>
    <% end %>
      <td ><button class="btn btn-info"><%= link_to('Edit', edit_post_path(p)) %></button></td>
      <td ><button class="btn btn-default"><%= link_to('Show',post_path(p)) %></button></td>
      <td ><button class="btn btn-warning"><%= link_to 'Destroy', post_path(p),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></button></td>
    </tr>
<% end %> 
</table> 
<% end %> 

<% if !user_signed_in? %>
<p style="text-align:center"><span style="background-color:rgb(255, 133, 102)"><big>Hey !! Please Register or Login to View all the published Articles </big> </span> </p>
<table class="table table-striped">
<tr style="background-color:black">
    <th>Title</th>
    <th style="text-align:center">Created At:</th>
    <th style="text-align:center">Created By:</th>
    
</tr>
<% @post.each do |p| %>
  <tr>
    <td><%= p.title %></td>
    <td style="text-align:center"><%= time_ago_in_words(p.created_at) %></td>
    <td style="text-align:center"><%= p.user.name %></td>
  </tr>
<% end %> 
</table> 
<% end %>

<% if user_signed_in? && current_user.utype == nil %>

  <br>

  <table style="width:100%" id="t01">
  <tr>
    <th style="background-color:black;">Title</th>
    <th style="text-align:center;background-color:black;">Created At:</th>
    <th style="text-align:center;background-color:black;">Created By:</th>
    <th style="background-color:black;">Action</th>
  </tr>
<% @postt.each do |p| %>
  <tr>
    <td  ><%= p.title %></td>
    <td style="text-align:center"><%= time_ago_in_words(p.updated_at) %></td>
    <td style="text-align:center" ><%= p.user.name %></td>

    <td><%= link_to('Show',post_path(p)) %></td>
  </tr>
<% end %> 
</table> 
<% end %>



<br>
<br>
<br>




